StartingMode=CONNECT;
IP=192.168.1.107;
Port=9035;
Algorithm=FSCAN;
SockUnixPath=/home/utn_so/CONSOLE_socket;
DiskFilePath=/home/utn_so/FUSELAGE/escritura.disk;
ConsolePath=/home/utn_so/Desktop/trabajos/PPD_Console/Debug/PPD_Console;
LogPath=/home/utn_so/Desktop/logPPD;
DiskID=1;
HeadPosition=50;
Cylinder=65536;
Head=1;
Sector=16;
ReadTime=0;
WriteTime=0;
RPM=3750;
TrackJumpTime=2;
Direction=UP;
LogFlag=INFO;