StartingMode=LISTEN;
IP=192.168.2.106;
Port=9035;
Algorithm=FSCAN;
SockUnixPath=/home/utn_so/CONSOLE_socket;
DiskFilePath=/home/utn_so/FUSELAGE/small_fat32.disk;
ConsolePath=/home/utn_so/Desarrollo/Workspace/PPD_Console/Debug/PPD_Console;
LogPath=/home/utn_so/Escritorio/logPPD;
DiskID=1;
HeadPosition=0;
Cylinder=1024;
Head=1;
Sector=1024;
ReadTime=0;
WriteTime=0;
RPM=3750;
TrackJumpTime=2;
Direction=UP;
LogFlag=OFF;